.navBarCont {
    z-index: 10000;
    width: 100vw;
    /* height: 8dvh; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40.2dvw 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: -1px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.178);
    min-width: 270px;
}

.logo img {
    height: 100%;
    max-height: 6vh;
}

.navLinks {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 20dvh;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 5dvh;

}

.navLinks.show {
    display: flex;

}

.navLinks li {
    margin: 20px;
    /* height: 8dvh; */
}

.navLinks a {
    text-decoration: none;
    color: #000000;
    /* font-weight: bold; */
    transition: color 0.3s;
    font-size: 20px;
}

.navLinks a:hover {
    color: gray;
}


.hamb {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.hamb span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #333;
    transition: all 0.3s;
}

/* Animación para el icono del menú abierto */
.hamb.open span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 10px);
}

.hamb.open span:nth-child(2) {
    opacity: 0;
}

.hamb.open span:nth-child(3) {
    transform: rotate(-45deg) translate(2px, -5px);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 800px) {
    /* .navBarCont {
        background-color: red;

    } */

    .navLinks {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 10px;
        backdrop-filter: blur(20px);
        background-color: #ffffffe1;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 10px 20px;
        width: 200px;
        height: auto;
    }

    .hamb {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        gap: 5px;
        right: 20px;
        height: 100%;
    }

    .navLinks.show {
        display: flex;
        animation: slideIn 0.3s ease forwards;
    }

    .navLinks li {
        margin: 0px;
    }

    .navLinks li a {
        font-size: 1.2rem;
    }
}